<% if session["user_id"] %>
  <p>
    <%= link_to "Share Your Latest Hug or High Five Success", '/products/new' %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= link_to "Title", "/products?sortby=desc" %></th>
      <th>Description</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to "Remove", "products/#{product.id}", method: 'delete' %>
        <%= link_to "Edit", "products/#{product.id}/edit" %>
      </td>
      <td><%= link_to product.title, "/products/#{product.id}" %></td>
      <td><%= product.description %></td>
      <td><%= product.size_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
